<div class="mb-3"></div>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Grocery Dashboard</h1>
      <p class="lead text-muted">An assorted collection of the several deals available at our various Grocery Clients</p>
      <p>
        <a href="" class="btn btn-primary my-2">Register to Become a Member</a>
        <a href="" class="btn btn-secondary my-2">Register to Become a Partner</a>
      </p>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-header mb-4 box-shadow">Deal on Toor Dal</div>
            <div class="card-body">
              <p class="card-text">Buy 2 Toor Dals packs and get 1 Free</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-header mb-4 box-shadow">Mazaa Sale</div>
            <div class="card-body">
              <p class="card-text">16 pack Mazaa for $9.99</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-header mb-4 box-shadow">Mango Sale</div>
            <div class="card-body">
              <p class="card-text">2 Dozen for $16.99</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-header mb-4 box-shadow">Deal on Toor Dal</div>
              <div class="card-body">
                <p class="card-text">Buy 2 Toor Dals packs and get 1 Free</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-header mb-4 box-shadow">Mazaa Sale</div>
              <div class="card-body">
                <p class="card-text">16 pack Mazaa for $9.99</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-header mb-4 box-shadow">Mango Sale</div>
              <div class="card-body">
                <p class="card-text">2 Dozen for $16.99</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
    
  </div>

</main>