<div class="mb-3"></div>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Grocery Dashboard</h1>
      <p class="lead text-muted">An assorted collection of the several deals available at our various Grocery Clients</p>
      <p>
        <a href="" class="btn btn-primary my-2">Register to Become a Member</a>
        <a href="" class="btn btn-secondary my-2">Register to Become a Partner</a>
      </p>
    </div>
  </section>

  <div class="py-5 bg-light">
  <div class="container">
  
    <div class="row">
      <ng-container *ngFor="let displayUser of users">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header mb-4 box-shadow bg-primary"><div class="font-weight-bold">User Information</div></div>
          <div class="card-body">            
            <div><div class="font-weight-bold">
              User Id :
            </div> {{displayUser.id}}</div>
            <div><div class="font-weight-bold">
              First Name :
            </div> {{displayUser.firstName}}</div>
            <div><div class="font-weight-bold">
              Last Name :
            </div> {{displayUser.lastName}}</div>
            <div><div class="font-weight-bold">
              Password :
            </div> {{displayUser.password}}</div>
            <div><div class="font-weight-bold">
              Auth Level :
            </div> {{displayUser.authLevel}}</div>
            <div><div class="font-weight-bold">
              Created :
            </div> {{displayUser.created}}</div>
            <div><div class="font-weight-bold">
              Last Login :
            </div> {{displayUser.lastLogin}}</div>
          </div>
        </div>
      </div>
    </ng-container>
    </div>
  
  </div>
  </div>

</main>